/* Contact.css */
.contact-section {
  padding: 50px;
  background-color: #282c34;
  color: white;
  text-align: center;
}

.contact-section a {
  color: #61dafb;
  text-decoration: none;
}

.social-links {
  margin-top: 20px;
}

.social-links a {
  margin: 0 10px;
  font-size: 30px;
  color: #61dafb;
}

.social-links a:hover {
  color: #21a1f1;
}
/* Home.css */
.home-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: white;
}

.home-content {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #61dafb;
  color: #282c34;
  text-decoration: none;
  border-radius: 25px;
}

.btn:hover {
  background-color: #21a1f1;
}
/* Global Styles */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Hides horizontal scrollbar */
  overflow-y: auto; /* Optional: only if you want to allow vertical scrolling */
}

/* Container Styles */
.container {
  max-width: 1200px; /* Adjust max-width to prevent overflow */
  margin: 0 auto; /* Center the container */
  padding: 20px; /* Adjust padding as needed */
}
